In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [16]:
import pandas as pd
from tqdm import tqdm
import json
import re

train = pd.read_csv("/content/drive/MyDrive/project3/한국어 방언 발화(제주도)/Training/jeju_train.csv", encoding = "utf-8", index_col = 0)
validation = pd.read_csv("/content/drive/MyDrive/project3/한국어 방언 발화(제주도)/Validation/jeju_valid.csv", encoding = "utf-8", index_col = 0)

In [17]:
# 1) 중복 제거
train = train.drop_duplicates()
validation = validation.drop_duplicates()

In [18]:
train[:-5]

,standard,dialect
0,저는 &name1&입니다.,저는 &name1&입니다.
1,저는 &name2&입니다.,저는 &name2&입니다.
2,오늘 주제가 아까 뭐 자동차나 오토바이였는데,오늘 주제가 아까 뭐 자동차나 오토바이였는데
3,&name1&씨 오토바이,&name1&씨 오토바이
4,뭐 어떻게 좀 몰아봤어요? 아니면,뭐 어떵 좀 몰아봐수과? 아니면
...,...,...
2774246,응 그럴까,응 그럴까
2774247,응 자 이 후에도 제주어에 관심을 많이 가져서 잘 지키자 그러면,응 자 일 후제에도 제주어에 관심을 하영 가졍 잘 직호게이 게민
2774248,쭉 만,쭉 만
2774249,쭉이 중간에 들어가버려서 어색한거 저쪽에 갔으면 괜찮을거 같은데,쭉이 중간에 들어가부난 어색한거 저쪽에 가시믄 괜찮을거 같은데
2774250,이후에도 쭉 제주어에 관심을 많이 가져서,일후제에도 쭉 제주어에 관심을 하영 가졍

In [19]:
train.columns

Index(['standard', 'dialect'], dtype='object')

In [20]:
len(train.columns)

2

In [21]:
# 2) &name&, &address&를 일괄적으로 변환
# training set 전처리
train_stan_new = []
for standard in tqdm(train["standard"]):
    new_sen = re.sub("\&name\d*\&","{이름}",str(standard)) # &name&을 {이름}으로 바꾸기
    new_sen = re.sub("\&address\d*\&","{주소}", new_sen) # &address&을 {주소}로 바꾸기
    train_stan_new.append(new_sen)

100%|██████████| 2398367/2398367 [00:07<00:00, 324126.48it/s]

In [22]:
train_dialect_new = []
for dialect in tqdm(train["dialect"]):
    new_sen = re.sub("\&name\d*\&","{이름}",str(dialect)) # &name&을 {이름}으로 바꾸기
    new_sen = re.sub("\&address\d*\&","{주소}", new_sen) # &address&을 {주소}로 바꾸기
    train_dialect_new.append(new_sen)

100%|██████████| 2398367/2398367 [00:07<00:00, 310683.14it/s]

In [23]:
# validation set 전처리
val_stan_new = []
for standard in tqdm(validation["standard"]):
    new_sen = re.sub("\&name\d*\&","{이름}",str(standard)) # &name&을 {이름}으로 바꾸기
    new_sen = re.sub("\&address\d*\&","{주소}", new_sen) # &address&을 {주소}로 바꾸기
    val_stan_new.append(new_sen)

100%|██████████| 297173/297173 [00:00<00:00, 328326.79it/s]

In [24]:
val_dialect_new = []
for dialect in tqdm(validation["dialect"]):
    new_sen = re.sub("\&name\d*\&","{이름}",str(dialect)) # &name&을 {이름}으로 바꾸기
    new_sen = re.sub("\&address\d*\&","{주소}", new_sen) # &address&을 {주소}로 바꾸기
    val_dialect_new.append(new_sen)

100%|██████████| 297173/297173 [00:00<00:00, 328032.23it/s]

In [25]:
# 3. 그 외 전처리(괄호 제거 등)

# training --> train_stan_new train_dialect_new
train_standard = []
train_dialect = []
for standard in tqdm(train_stan_new):
    new_standard = re.sub("[^ㄱ-ㅎ ㅏ-ㅣ 가-힣]","",standard)
    train_standard.append(new_standard)

for dialect in tqdm(train_dialect_new):
    new_dialect = re.sub("[^ㄱ-ㅎ ㅏ-ㅣ 가-힣]","",dialect)
    train_dialect.append(new_dialect)

#validation --> val_stan_new  val_dialect_new
val_standard = []
val_dialect = []
for standard in tqdm(val_stan_new):
    new_standard = re.sub("[^ㄱ-ㅎ ㅏ-ㅣ 가-힣]","",standard)
    val_standard.append(new_standard)

for dialect in tqdm(val_dialect_new):
    new_dialect = re.sub("[^ㄱ-ㅎ ㅏ-ㅣ 가-힣]","",dialect)
    val_dialect.append(new_dialect)

100%|██████████| 2398367/2398367 [00:04<00:00, 512914.03it/s]
100%|██████████| 2398367/2398367 [00:04<00:00, 527562.41it/s]
100%|██████████| 297173/297173 [00:00<00:00, 518216.45it/s]
100%|██████████| 297173/297173 [00:00<00:00, 532877.67it/s]

In [26]:
train["standard"] = train_standard
train["dialect"] = train_dialect

validation["standard"] = val_standard
validation["dialect"] = val_dialect

# 임시로 저장

# train set을 csv로 저장
train.to_csv("전처리된_AI_HUB_data/Train/전처리된_AI_hub_train.csv", index = False, encoding = "utf-8-sig")

# validation set을 csv로 저장
validation.to_csv("전처리된_AI_HUB_data/Val/전처리된_AI_hub_val.csv", index = False, encoding = "utf-8-sig")

In [27]:
train[:10]

                   standard                   dialect
0                  저는 이름입니다                  저는 이름입니다
1                  저는 이름입니다                  저는 이름입니다
2  오늘 주제가 아까 뭐 자동차나 오토바이였는데  오늘 주제가 아까 뭐 자동차나 오토바이였는데
3                  이름씨 오토바이                  이름씨 오토바이
4         뭐 어떻게 좀 몰아봤어요 아니면          뭐 어떵 좀 몰아봐수과 아니면
5                   저 오토바이는                   저 오토바이는
6                         응                         응
7                    다시 할게요                    다시 할게요
8                  제가 오토바이는                  제가 오토바이는
9                        제가                        제가

In [28]:
validation[:10]

,standard,dialect
0,십이 월 삼십,십이 월 삼십
1,이름,이름
2,이름 이름 오 회차 녹음 시작하겠습니다,이름 이름 오 회차 녹음 시작하겠습니다
3,네 며칠 전에 저기 음식점니깐,네 며칠 전에 저기 음식점니깐
4,그리 해버려서 평범한 거기 이름씨가 처음에는 누군지 몰라서 보다는 화랑 아이고,경 부난 평범한 거기 이름씨가 처음에는 누군지 몰라니 보다는 화랑 아이고
5,사돈이이었다 허머 그다음 또 할머니,사둔이추계 허머 그다음 또 할머니
6,그 당시에 호응이 커 옛날 어른들이 여자는 글을 아는 어른들이 몇 없었는데,그 당시에 호응이 커 옛날 어른들이 여자는 글을 아는 어른들이 몇 어서신디
7,우리 할머니하고 누구하고 그냥 막 추 그려내 기분 좋아라 이다 안에 거기 우리,우리 할머니하고 누구하고 그냥 막 추 그려내 기분 좋아라 수다 안에 거기 우리
8,이름 시삼촌의 사촌이기도 하지만은 막 그래서,이름 삼춘의 소춘이기도 하지만은 막 게라
9,니 얘기 들었는데 나도 기분 좋아서 먹고 하다 한번 어디 거기로가서 어머니한테 해 ...,니 얘기 드르먼게 나도 기분 좋았단 먹고 하다 한번 어디 그리가겐 어머니한테 해 다니셨죠