In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## AI HUB 데이터 로드

In [29]:
import json
import pandas as pd
import os
file_dir = '/content/drive/MyDrive/project3/한국어 방언 발화(제주도)/Training/[라벨]제주도_학습용데이터_1.zip (Unzipped Files)/'
filelist = os.listdir('/content/drive/MyDrive/project3/한국어 방언 발화(제주도)/Training/[라벨]제주도_학습용데이터_1.zip (Unzipped Files)')
standard_form = []
dialect_form=[]

# AI HUB 데이터 폴더 안에 json과 txt 파일이 섞여 있으므로, 예외처리를 통해 데이터 로드
for file in filelist:
    with open(file_dir+file,'r') as f:
        try:
            data = json.load(f)
            standard_form += [data['utterance'][i]['standard_form'] for i in range(len(data['utterance']))]
            dialect_form += [data['utterance'][i]['dialect_form'] for i in range(len(data['utterance']))]
        except json.JSONDecodeError:
            continue

In [30]:
jejudata = pd.DataFrame()

In [31]:
jejudata['standard'] = pd.DataFrame(standard_form)
jejudata['dialect'] = pd.DataFrame(dialect_form)

In [32]:
jejudata

                           standard                      dialect
0                    저는 &name1&입니다.               저는 &name1&입니다.
1                    저는 &name2&입니다.               저는 &name2&입니다.
2          오늘 주제가 아까 뭐 자동차나 오토바이였는데     오늘 주제가 아까 뭐 자동차나 오토바이였는데
3                     &name1&씨 오토바이                &name1&씨 오토바이
4                뭐 어떻게 좀 몰아봤어요? 아니면            뭐 어떵 좀 몰아봐수과? 아니면
...                             ...                          ...
2774252                     쭉 잘 지키자                     쭉 잘 직호게이
2774253            자 이후에도 제주어에 관 아니            자 일후제에도 제주어에 관 아니
2774254  이후에도 제주어에 관심을 많이 가져서 잘 지키자  일후제에도 제주어에 관심을 하영 가졍 잘 직호게이
2774255        이후에도 제주어에 관심을 많이 가져서         일후제에도 제주어에 관심을 하영 가졍
2774256                잘 지키자 그러면 안녕                 잘 직호게이 게민 안녕

[2774257 rows x 2 columns]

In [33]:
jejudata.to_csv('/content/drive/MyDrive/project3/한국어 방언 발화(제주도)/Training/jeju_train.csv')

In [34]:
v_file_dir = '/content/drive/MyDrive/project3/한국어 방언 발화(제주도)/Validation/[라벨]제주도_학습용데이터_3.zip (Unzipped Files)/'
v_filelist = os.listdir('/content/drive/MyDrive/project3/한국어 방언 발화(제주도)/Validation/[라벨]제주도_학습용데이터_3.zip (Unzipped Files)')
v_standard_form = []
v_dialect_form=[]

# AI HUB 데이터 폴더 안에 json과 txt 파일이 섞여 있으므로, 예외처리를 통해 데이터 로드
for file in v_filelist:
    with open(v_file_dir + file, 'r') as f:
        try:
            data = json.load(f)
            v_standard_form += [data['utterance'][i]['standard_form'] for i in range(len(data['utterance']))]
            v_dialect_form += [data['utterance'][i]['dialect_form'] for i in range(len(data['utterance']))]
        except json.JSONDecodeError:
            continue

In [35]:
valid_jejudata = pd.DataFrame()

In [36]:
valid_jejudata['standard'] = pd.DataFrame(v_standard_form)
valid_jejudata['dialect'] = pd.DataFrame(v_dialect_form)

In [37]:
valid_jejudata

,standard,dialect
0,십이 월 삼십,십이 월 삼십
1,&name1&,&name1&
2,&name2& &name3& 오 회차 녹음 시작하겠습니다,&name2& &name3& 오 회차 녹음 시작하겠습니다
3,네 며칠 전에 저기 (()) 음식점니깐,네 며칠 전에 저기 (()) 음식점니깐
4,그리 해버려서 평범한 거기 &name4&씨가 처음에는 누군지 몰라서 &company...,경 부난 평범한 거기 &name4&씨가 처음에는 누군지 몰라니 &company-na...
...,...,...
333797,그래가지고 올꺼라고 꿈에라도 생각 해봤어?,그래가지고 (툴인 때 우리 둘이때)) 이런 세상이 (올카부댄 꿈에라도 생각 해봐서?
333798,그때 그때가 좋았다고한 얘기구나,그때 그때가 좋았댄헌 얘기구나
333799,(()) 물에 가서 씼고 오면,(()) 물에 강 몸곰앙 오믄이
333800,그때가 좋았지,그때가 좋았주게
333801,백중날있잖아 완전히 바닷가에 안살아봐서 모를꺼야,백중날있잖아 완전히 바당에 안살아난 모를꺼야

In [38]:
valid_jejudata.to_csv('/content/drive/MyDrive/project3/한국어 방언 발화(제주도)/Validation/jeju_valid.csv')